<h1 style="
    text-align: center;
    font-family: Arial, Helvetica;
">Confirmar Tu Cuenta</h1>

<p style="font-family: Arial, Helvetica;">Estas a un paso de crear una comunidad en Meet, solo debes confirmar tu cuentaen el siguiente enlace:</p>

<a style="
        display: block;
        font-family: Arial, Helvetica;
        padding: 1rem;
        background-color: #00c897;
        color: white;
        text-transform: uppercase;
        text-align: center;
        text-decoration: none;
        
" href="<%= url %> ">Confirmar tu cuenta</a>

<p style="font-family: Arial, Helvetica;">Si no puedes accer a este enlace, visita <%= url %></p>
<p style="font-family: Arial, Helvetica;">Si no solicitaste este Email puedes ignorarlo</p>
